<div>
 <%= flash[:notice] %>
</div>

<h1>Books</h1>
 <p>Title</p><p>Body</p>

<% @books.each do |book| %>

 <%= book.title %>
 <%= book.body %>
 <%= link_to "Show", book_path(book.id) %>
 <%= link_to "Edit", book_path(book.id) %>
 <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
 

<% end %>